* {
    border: 0;
    margin: 0;
    padding: 0;
}


.header-image {
    width: 100%;
position: absolute;
}

.header {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.header .left-header p {
    font-family: sans-serif;
    position: relative;
font-size: 30px;
padding-left: 25px;
color: #fff;
font-weight: 900;
}

.header .right-header {
    font-family: Barlow;
position: relative;
font-size: 20px;
padding-right: 90px;
color: #fff;
font-weight: 600;
cursor: pointer;
}
 a {
     color: white;
     text-decoration: none;
     outline: none;
 }
span li {
    display: inline-flex;
    list-style: none;
    padding-left: 45px;
}
li:hover {
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.274);
    cursor: pointer;
    padding: 14px 20px;
}
h2 {
    position: relative;
    font-size: 50px;
    padding-right: 90px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    padding-left: 40px;
    letter-spacing: 15px;
    font-family: Fraunces;
}


.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.left-nav {
    position: absolute;
    width: 50%;
    background-color: #fff;
}
.left-nav h3 {
    font-family: Fraunces;
    padding: 100px 160px 0;
    text-align: left;
    width: 35%;
    color: black;
    font-size: 30px;
}

.left-nav p {
    padding: 30px 160px 0;
    text-align: left;
    font-family: Barlow;
    color: black;
    width: 48%;
    line-height: 28px;
    font-size: 17px;
    font-weight: 600;
}
.left-nav h2 {
    padding: 40px 160px 0;
    text-align: left;
    color: black;
    font-family: Fraunces;
    font-size: 13px;
    letter-spacing: normal;
    border-bottom: yellow solid 10px;
}
.right-nav {
    width: 50%;
}
.article-image {
    display: flex;
}

/* NEW STYLES */

.container{
    display: flex;
}

.left-child{
    width: 50%;
}

.left-child h3 {
    font-family: Fraunces;
    padding: 250px 200px 0;
    text-align: left;
    width: 40%;
    color: black;
    font-size: 40px;
}

.left-child p {
    padding: 30px 200px 0;
    text-align: left;
    font-family: Barlow;
    color: black;
    width: 48%;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}
.left-child .learn {
    font-weight:900;
}
.left-child h2 {
    padding: 10px 213px 0;
    text-align: left;
    font-family: Fraunces;
    color: black;
    width: 48%;
    letter-spacing: normal;
    line-height: 28px;
    font-size: 18px;
}
.bar{
    width: 110px;
    background-color: hsl(51, 100%, 49%);
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: 202px;
    margin-top: -33px;
}

.right-child{
    width: 50%;
}


.right-child img{
    width: 100%
}

.left-middle{
    width: 50%;
}


.left-middle img{
    width: 100%;
    margin-top: -4px;
}


.middle{
    display: flex;
}

.right-middle{
    width: 50%;
}

.right-middle h3 {
    font-family: Fraunces;
    padding: 250px 200px 0;
    text-align: left;
    width: 50%;
    color: black;
    font-size: 40px;
}

.right-middle p {
    padding: 30px 200px 0;
    text-align: left;
    font-family: Barlow;
    color: black;
    width: 48%;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}
.right-middle .learn {
    font-weight:900;
}
.right-middle h2 {
    padding: 10px 213px 0;
    text-align: left;
    font-family: Fraunces;
    color: black;
    width: 48%;
    letter-spacing: normal;
    line-height: 28px;
    font-size: 17px;
}
.middle-bar{
    width: 110px;
    background-color: hsl(7, 99%, 70%);
    border-radius: 20px;
    padding: 5px 20px;
    margin-left: 200px;
    margin-top: -34px;
}

.lower{
    display: flex;
}

.lower-left {
    width: 50%;
}

.lower-left h3 {
    font-family: Fraunces;
    padding: 20px 200px 0;
    width: 50%;
    margin-top: -250px;
    color:  hsl(167, 40%, 24%);
    text-align: center;
    font-size: 40px;
}

.lower-left p {
    padding: 40px 220px 0;
    font-family: Barlow;
    color:  hsl(167, 40%, 24%);
    width: 46%;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}
.lower-left{
    width: 50%;
}


.lower-left img{
    width: 100%;
    margin-top: -4px;
}


.lower-right {
    width: 50%;
}
.lower-right h3 {
    font-family: Fraunces;
    padding: 20px 200px 0;
    width: 50%;
    margin-top: -250px;
    color:  hsl(198, 62%, 26%);
    text-align: center;
    font-size: 40px;
}
.lower-right p {
    padding: 40px 220px 0;
    font-family: Barlow;
    color:  hsl(198, 62%, 26%);
    width: 46%;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    font-weight: 500;
}
.lower-right{
    width: 50%;
}
.lower-right img{
    width: 100%;
    margin-top: -4px;
}
.semi-footer {
width: 100%;
}
.up-semi-footer {
    width: 100%;
}
.up-semi-footer h2 {
    padding-top: 200px;
    font-family: Fraunces;
    color: rgb(168, 163, 163);
    text-align: center;
    font-size: 25px;
    letter-spacing: normal;
}


.client {
    display: flex;
    margin-top: 80px;
}
.client-one {
    width: 33.33%;
}
.client-one img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 310px;
}
.client-one p {
    padding-top: 50px;
    font-family: Barlow;
    color: black;
    padding-left: 200px;
    width: 55%;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: normal;
}
.client-one .name {
    padding-top: 60px;
    font-family: Fraunces;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding-left: 200px;
width: 55%;
    letter-spacing: normal;
}
.client-one .occupation {
    padding-top: 10px;
    font-family: Barlow;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 200;
    padding-left: 200px;
width: 55%;
    letter-spacing: normal;
}
.client-two {
    width: 33.33%;
}
.client-two img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 230px;
}
.client-two p {
    padding-top: 50px;
    font-family: Barlow;
    color: black;
    padding-left: 100px;
    width: 60%;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: normal;
}
.client-two .name {
    padding-top: 60px;
    font-family: Fraunces;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding-left: 130px;
width: 55%;
    letter-spacing: normal;
}
.client-two .occupation {
    padding-top: 10px;
    font-family: Barlow;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding-left: 130px;
width: 55%;
    letter-spacing: normal;
}
.client-three {
    width: 33.33%;
}
.client-three img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 140px;
}
.client-three p {
    padding-top: 50px;
    font-family: Barlow;
    color: black;
    padding-left: 30px;
    width: 55%;
    font-weight: 500;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: normal;
}
.client-three .name {
    padding-top: 60px;
    font-family: Fraunces;
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding-left: 30px;
width: 55%;
    letter-spacing: normal;
}
.client-three .occupation {
    padding-top: 10px;
    font-family: Barlow;
    color: black;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    padding-left: 30px;
width: 55%;
    letter-spacing: normal;
}

.footer {
    display: flex;
    padding-top: 170px;
}
.milkbottle {
    width: 25%;
}
.milkbottle img {
    width: 100%;
}

.orange {
    width: 25%;
}
.orange img {
    width: 100%;
}
.cone {
    width: 25%;
}
.cone img {
    width: 100%;
}
.sugarcube {
    width: 25%;
}
.sugarcube img {
    width: 100%;
}


footer {
    margin-top: -4px;
    background-color: hsl(167, 43%, 70%);
}
.sunny {
    padding-top: 50px;
    text-align: center;
    font-size: 33px;
    font-weight: 900;
    letter-spacing: normal;
    color:  hsl(168, 34%, 41%);
}
.foot {
padding-top: 10px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-family: Barlow;
    font-weight: 500;
}

a {
    color:  hsl(168, 34%, 41%);
    text-decoration: none;
    outline: none;
    padding: 30px;
    border: none;
    font-size: 18px;
}

a:hover {
    border: none;
    color: white;
   cursor: pointer;
}

.foot-images {
    padding-top: 40px;
    justify-content: center;
    margin: 0 auto;
    display: flex;

}

.foot-images a img:hover{
    color: white;
   cursor: pointer;
}


